@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-red: #ea4335;
  --color-blue: #4285f4;
  --color-yellow: #fbbc05;
  --color-green: #34a853
}

.loader {
  position: relative;
  width: 225px;
  height: 150px
}

.dot {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 9999px
}

.dot1 {
  top: 55px;
  background-color: var(--color-blue);
  transform-origin: 20px center;
  animation: dsc-dot1 6s infinite ease-in-out;
  z-index: 2
}

.dot2 {
  left: 62.5px;
  top: 55px;
  background-color: var(--color-red);
  animation: dsc-dot2 6s infinite ease-in-out
}

.dot3 {
  bottom: 0;
  left: 62.5px;
  background-color: var(--color-green);
  animation: dsc-dot3 6s infinite ease-in-out
}

.dot4 {
  left: 62.5px;
  background-color: var(--color-green);
  animation: dsc-dot4 6s infinite ease-in-out
}

.dot5 {
  left: 62.5px;
  top: 55px;
  background-color: var(--color-green);
  animation: dsc-dot5 6s infinite ease-in-out
}

.dot6 {
  left: 62.5px;
  bottom: 0;
  background-color: var(--color-yellow);
  animation: dsc-dot6 6s infinite ease-in-out
}

.dot7 {
  top: 55px;
  background-color: var(--color-red);
  transform-origin: 20px center;
  animation: dsc-dot7 6s infinite ease-in-out;
  z-index: 1
}

@keyframes dsc-dot1 {

  0%,
  100% {
    opacity: 0;
    transform: scale(0)
  }

  5%,
  95% {
    opacity: 1;
    transform: scale(1)
  }

  25%,
  75% {
    width: 40px
  }

  30%,
  70% {
    width: 100px;
    transform: rotate(0)
  }

  35%,
  65% {
    transform: rotate(-30deg)
  }

  45%,
  55% {
    transform: rotate(30deg)
  }

  50% {
    width: 100px;
    transform: rotate(30deg)
  }
}

@keyframes dsc-dot2 {

  0%,
  100% {
    opacity: 0;
    transform: scale(0)
  }

  5%,
  95% {
    opacity: 0;
    transform: scale(0)
  }

  10%,
  90% {
    opacity: 1;
    width: 40px;
    transform: scale(1)
  }

  15%,
  85% {
    left: 62.5px
  }

  20%,
  80% {
    width: 100px;
    left: 125px;
    transform: scale(1);
    transform-origin: 80px center
  }

  25%,
  75% {
    transform: scale(0)
  }

  30%,
  70% {
    transform: scale(0);
    background-color: var(--color-red)
  }

  36%,
  64% {
    background-color: var(--color-yellow)
  }

  40%,
  60% {
    width: 100px;
    left: 125px;
    transform: scale(1);
    transform: rotate(-30deg)
  }

  50% {
    width: 100px;
    left: 125px;
    background-color: var(--color-yellow);
    transform: scale(1);
    transform: rotate(-30deg);
    transform-origin: 80px center
  }
}

@keyframes dsc-dot3 {

  0%,
  100% {
    opacity: 0;
    transform: scale(0)
  }

  10%,
  90% {
    opacity: 0;
    transform: scale(0)
  }

  15%,
  85% {
    opacity: 1;
    transform: scale(1);
    width: 40px
  }

  20%,
  80% {
    width: 100px;
    left: 62.5px
  }

  25%,
  75% {
    width: 40px;
    left: 122.5px;
    transform: scale(1)
  }

  30%,
  70% {
    transform: scale(0)
  }

  50% {
    transform: scale(0)
  }
}

@keyframes dsc-dot4 {

  0%,
  100% {
    opacity: 0;
    transform: scale(0)
  }

  15%,
  85% {
    opacity: 0;
    transform: scale(0)
  }

  20%,
  80% {
    opacity: 1;
    transform: scale(1);
    width: 40px
  }

  25%,
  75% {
    width: 100px;
    left: 62.5px
  }

  30%,
  70% {
    width: 40px;
    left: 122.5px;
    transform: scale(1)
  }

  35%,
  65% {
    transform: scale(0)
  }

  50% {
    transform: scale(0)
  }
}

@keyframes dsc-dot5 {

  0%,
  100% {
    opacity: 0;
    transform: scale(0);
    transform-origin: left center
  }

  10%,
  90% {
    opacity: 0;
    transform: scale(0)
  }

  15%,
  85% {
    opacity: 1;
    transform: scale(1);
    width: 40px;
    left: 62.5px;
    transform-origin: left center
  }

  20%,
  80% {
    width: 100px;
    left: 125px;
    transform-origin: 80px center
  }

  30%,
  70% {
    transform: rotate(0)
  }

  35%,
  65% {
    transform: rotate(-30deg)
  }

  45%,
  55% {
    transform: rotate(30deg)
  }

  50% {
    opacity: 1;
    transform: scale(1);
    transform: rotate(30deg);
    transform-origin: 80px center;
    left: 125px;
    width: 100px
  }
}

@keyframes dsc-dot6 {

  0%,
  100% {
    opacity: 0;
    transform: scale(0)
  }

  15%,
  85% {
    opacity: 0;
    transform: scale(0)
  }

  20%,
  80% {
    opacity: 1;
    transform: scale(1);
    width: 40px
  }

  22.5%,
  77.5% {
    width: 100px;
    left: 62.5px
  }

  27.5%,
  72.5% {
    width: 40px;
    left: 122.5px;
    transform: scale(1)
  }

  32.5%,
  67.5% {
    transform: scale(0)
  }

  50% {
    transform: scale(0)
  }
}

@keyframes dsc-dot7 {

  0%,
  100% {
    opacity: 0;
    transform: scale(0)
  }

  35%,
  65% {
    opacity: 1;
    transform: scale(0)
  }

  36%,
  64% {
    transform: scale(1);
    width: 100px;
    transform: rotate(-30deg)
  }

  50% {
    transform: scale(1);
    width: 100px;
    transform: rotate(-30deg)
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  height: 100vh;
  overflow-x: hidden;

  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}

.cursor {
  position: absolute;
  width: 20px;
  height: 20px;
  /* background-color: #000; */
  /* background: linear-gradient(45deg, #ff00cc, #3333ff); */
  /* box-shadow: 0 0 10px linear-gradient(45deg, #ff00cc, #3333ff); */
  border-radius: 50%;
  mix-blend-mode: difference;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
  /* transform: translate(-50%, -50%); */
}

.cursor-shadow {
  position: absolute;
  width: 30px;
  height: 30px;
  pointer-events: none;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.2s ease-in-out;
  background: linear-gradient(45deg, #ff00cc, #3333ff);
}


@media only screen and (max-width: 600px) {

  html,
  body {
    font-size: 14px;
  }
}

::-webkit-scrollbar {
  width: 10px;
  /* background-color: transparent; */
  /* background: linear-gradient(to bottom, #0f9d58, #3b71fe, #db4437, #f89b00); */
}

.rotate-1 {
  animation: rotate-1 4s infinite backwards linear;
}

.rotate-2 {
  animation: rotate-1 4s infinite backwards linear;
  animation-delay: 1s !important;
}

.rotate-3 {
  animation: rotate-1 4s infinite backwards linear;
  animation-delay: 2s !important;
}

.rotate-none {
  animation: none;
}


@keyframes rotate-1 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(1turn);
  }
}

.shake {
  animation: shaking 2s ease 0s infinite normal forwards;
  transition: all 0.5s ease;
}

.pulse {
  animation: pulse 2s ease 0s infinite normal forwards;

  transition: all 0.5s ease;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes shaking {

  0%,
  100% {
    transform: rotate(0deg);
    transform-origin: 50% 50%;
  }

  10% {
    transform: rotate(2deg);
  }

  20%,
  40%,
  60% {
    transform: rotate(-2deg);
  }

  30%,
  50%,
  70% {
    transform: rotate(2deg);
  }

  80% {
    transform: rotate(-2deg);
  }

  90% {
    transform: rotate(2deg);
  }
}

::-webkit-scrollbar-track {
  background-color: transparent;
  background: linear-gradient(to bottom, #0f9d58, #3b71fe, #db4437, #f89b00);
  /* border: 3px solid transparent; */
  border-radius: 20px;

  /* background-clip: content-box; */
}

::-webkit-scrollbar-thumb {
  width: 100%;
  border-left: inset 3px transparent;
  border-right: inset 3px transparent;
  background: white;
  background-clip: content-box;
  border-radius: 20px;
}

@media only screen and (max-width: 600px) {
  ::-webkit-scrollbar {
    width: 0;
  }
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.bgGradient {
  background: linear-gradient(45deg, #0f9d58, #3b71fe, #db4437, #f89b00);
  background-clip: text;
}



.bgGradientAnim {
  background: linear-gradient(to right,
      #0f9d58,
      #0f9d58,
      #3b71fe,
      #3b71fe,
      #db4437,
      #db4437,
      #f89b00,
      #f89b00,
      #0f9d58,
      #0f9d58);
  background-clip: text;
  background-size: 500%;

  animation: gradientAnim 5s linear infinite forwards;
}

@keyframes gradientAnim {
  0% {
    background-position: 0;
  }

  100% {
    background-position: 100%;
  }
}

.upDown {
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 3s infinite alternate;
}

@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-30px);
  }
}

@keyframes mover {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(5px);

  }

  100% {
    transform: translateY(0);
  }
}

.springish-G {
  -webkit-animation: springish;
  animation: springish;
  -webkit-animation-duration: 6.52s;
  animation-duration: 6.52s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-timing-function: cubic-bezier(.445, .05, .55, .95);
  animation-timing-function: cubic-bezier(.445, .05, .55, .95);
}

.springish-D {
  -webkit-animation: springish;
  animation: springish;
  -webkit-animation-duration: 4.52s;
  animation-duration: 4.52s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-timing-function: cubic-bezier(.445, .05, .55, .95);
  animation-timing-function: cubic-bezier(.445, .05, .55, .95);
}

.springish-S {
  -webkit-animation: springish;
  animation: springish;
  -webkit-animation-duration: 5.52s;
  animation-duration: 5.52s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-timing-function: cubic-bezier(.445, .05, .55, .95);
  animation-timing-function: cubic-bezier(.445, .05, .55, .95);
}


.springish-C {
  -webkit-animation: springish;
  animation: springish;
  -webkit-animation-duration: 6.52s;
  animation-duration: 6.52s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-timing-function: cubic-bezier(.445, .05, .55, .95);
  animation-timing-function: cubic-bezier(.445, .05, .55, .95);
}

@keyframes springish {
  0% {
    -webkit-transform: translateY(-99.91px);
    transform: translateY(-99.91px);
  }

  8.38% {
    -webkit-transform: translateY(50.19px);
    transform: translateY(50.19px);

  }

  17.54% {
    -webkit-transform: translateY(-24.3px);
    transform: translateY(-24.3px);
  }

  26.7% {
    -webkit-transform: translateY(11.76px);
    transform: translateY(11.76px);
  }

  35.87% {
    -webkit-transform: translateY(-5.69px);
    transform: translateY(-5.69px);
  }

  45.03% {
    -webkit-transform: translateY(2.76px);
    transform: translateY(2.76px);
  }

  54.19% {
    -webkit-transform: translateY(-1.33px);
    transform: translateY(-1.33px);
  }

  63.35% {
    -webkit-transform: translateY(0.65px);
    transform: translateY(0.65px);
  }


  72.51% {
    -webkit-transform: translateY(-0.31px);
    transform: translateY(-0.31px);
  }


  81.68% {
    -webkit-transform: translateY(0.15px);
    transform: translateY(0.15px);
  }


  90.84% {
    -webkit-transform: translateY(-0.07px);
    transform: translateY(-0.07px);
  }

  100% {
    -webkit-transform: translateY(0.04px);
    transform: translateY(0.04px);
  }

}

.card:hover .logo {
  width: 100%;
  border-radius: 0;
  height: 67%;
  transition: all 0.4s ease;
  border: none;
  position: absolute;
}

.card::before {
  transition: all 0.4s ease;

}

.card:hover .flex .flex .designation {
  color: #ffffff95;
}


.horiAnim {
  animation: horianim 3s infinite ease forwards;
}

@keyframes horianim {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0);
  }

}


.swiper-container {
  width: 100%;
  padding: 20px;
}

.swiper-slide {
  width: 100%;
}

.swiper-slide img {
  width: 100%;
  height: auto;
}